/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif; 
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}


/* COMMON */

.btn{
    padding: 0.5em 1em;
}

.btn-blu{
    background-color: blue;
    color: white;
}

.large-container{
    width: 70%;
    margin: 0 auto;
}

/* /COMMON */


/* HEADER */

header{
    width: 100%;
    height: 5em;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0 1em;
    font-size: 0.8em;
    /* debug */
    background-color: coral;
}

header a{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: 200;
    text-align: center;

}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;

}


.header-left, .header-right{
    height: 100%;
    display: flex;
    align-items: center;

}

    /* hader left */
    .header-left{
        justify-content: space-around;
        width: 33%;

    }

    .header-left #logo{
        width: 25%;
        margin-right: 2.5em;
    }

    .header-left ul li{
        height: 100%;
        text-align: center;
    }

    ul li a{
        padding: 0.5em 0.5em;
    }

    .header-left ul:nth-child(odd){
        width: 25%;
    }
    /* /hader left */

    /* hader right */
    .header-right{
        justify-content: space-around;
        width: 30%;
        
    }

    .header-right ul:nth-child(2){
        width: calc(2/5);
    }
    /* /hader right */

/* /HEADER */

/* JUMBO */

.jumbo{
    background-color: aqua;
    width: 100%;
    height: 85vh;
    padding-top: 7.5em;
    
}

.jumbo a{
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: inherit;
}

.jumbo h1{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.jumbo .img-content-container{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}

.jumbo .content-col{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.jumbo .img-col{
    width: 60%;
}

.content-col .btn{
    margin: 1.5em 0em;
} 

.jumbo .icon-jumbo{
    font-size: 2.5em;
    margin-top: 1.5em;
}
/* /JUMBO */